<h1 id="tableLabel">Weather forecast</h1>

<p>Fetching forecast from the Weather.API.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the Weather.API has started.</em></p>

<div>
  <input type="text"
         placeholder="Enter City Name"
         [(ngModel)]="city"/>
  <button color="primary"
          [disabled]="!forecasts"
          (click)="getWeatherForecasts()">
    Get Forecast
  </button>
</div>

<table *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Min. (C)</th>
      <th>Max. (C)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date | date:'MM/dd/yyyy' }}</td>
      <td>{{ forecast.temperatureMin }}</td>
      <td>{{ forecast.temperatureMax }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
